/* Reset default margin and padding */
body{
  background-color: black;
}
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.popup {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup-title {
  margin-bottom: 10px;
}

.popup-container.show {
  visibility: visible;
  opacity: 1;
}
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  margin-bottom: 20px;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background-color: black;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.app-title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-links {
  list-style-type: none;
  margin-top: 20px;
}

.nav-links li {
  display: inline-block;
  margin-right: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.section {
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.chart-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
}
#balancetext{
  color:white;
}
.reset-bal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.chart-options button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.stock-chart {
  margin-bottom: 20px;
  height: 60vh; /* Set a fixed height for the chart container */
  width: 80vh;
}

.stock-actions {
  position: relative;
  color:white;
}

.stock-actions input[type="number"],
.stock-actions button {
  margin-top: 10px;
}

button#buybtn,
button#sellbtn {
  align-items: center;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: absolute;
  
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

button#buybtn {
  background: linear-gradient(180deg, #077412 0%, #14f704c9 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  left: 60vh;
}

button#sellbtn {
  background: linear-gradient(180deg, #bf0d0d 0%, #ff0505 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  left: 70vh;
}

button#googToggle,
button#aaplToggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button#googToggle {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25);
  outline: 0;
  position: absolute;
  left:29vh;
  background-color: red;
  top:43.2vh;
}

button#aaplToggle {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25);
  outline: 0;
  background-color: red;
  left:29vh;
 position: absolute;
  top:26vh  !important;
}

.sidebar {
  left: 10vh;
  position: absolute;
  top: 25vh;
  height: 100vh;
}

.sidebar label,
.sidebar div {
  margin-bottom: 10px;
  position: relative;
  color: white;
}

footer {
  text-align: center;
  padding-top: 20px;
  color: #ccc;
  font-size: 14px;
}

/* Media queries for responsive styles */

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .stock-chart {
    height: 40vh;
    width: 70vh;
  }

  .sidebar {
    top: 20vh;
  }

  button#buybtn,
  button#sellbtn {
    left: 60vh;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 5px;
  }

  .stock-chart {
    height: 30vh;
    width: 50vh;
  }

  .sidebar {
    top: 10vh;
  }

  button#buybtn,
  button#sellbtn {
    left: 30vh;
  }
}
/* Styles for Mobile Devices */
@media (max-width: 767px) {
  .container {
    padding: 20px;
  }

  .app-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section {
    margin-bottom: 20px;
  }

  .stock-container {
    margin-bottom: 20px;
  }

  .stock-info,
  .stock-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .buy-button,
  .sell-button {
    width: 120px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .buy-button:hover,
  .sell-button:hover {
    background-color: #0056b3;
  }

  /* Adjust layout for smaller screens */
  .stock-info {
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
  }

  .stock-actions {
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
  }

  .buy-button,
  .sell-button {
    width: 100%;
  }

  /* Adjust chart size for mobile */
  .stock-chart {
    width: 100%;
    height: 200px;
  }
}
