/* Reset default margin and padding */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}
.sidebar{
  left:10vh;
  position:absolute;
  top:25vh;
  height: 100vh;
}

    .container {
      max-width: 1500px;
      margin: 0 auto;
      padding: 20px;
    }

    .stock-chart {
      margin-bottom: 20px;
      height: 60vh; /* Set a fixed height for the chart container */
      width:80vh;
    }

body {
  background-color: #222;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.app-title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-links {
  list-style-type: none;
  margin-top: 20px;
}

.nav-links li {
  display: inline-block;
  margin-right: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.section {
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  margin-bottom: 20px;
  color: #ccc;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #00aaff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
canvas{
  overflow: visible;
  margin-top: 35px;
}
#timeframebtn1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family:  'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: absolute;
  left:85vh;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}#timeframebtn2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family:  'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: absolute;
  left:97vh;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
#timeframebtn3{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family:  'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: absolute;
  left:110vh;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
#buybtn{
  
  align-items: center;
  padding: 6px 14px;
  font-family:  'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: absolute;
  left:110vh;

  color: #fff;
  background: linear-gradient(180deg, #077412 0%, #14f704c9 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
#sellbtn{
  
  align-items: center;
  padding: 6px 14px;
  font-family:  'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: absolute;
  left:120vh;

  color: #fff;
  background: linear-gradient(180deg, #bf0d0d 0%, #ff0505 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
button#googToggle{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family:  'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: absolute;
  left:110vh;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

button#googToggle {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
button#aaplToggle{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family:  'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: absolute;
  left:80vh;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button#aaplToggle {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.cta-button:hover {
  background-color: #0088cc;
}

footer {
  text-align: center;
  padding-top: 20px;
  color: #ccc;
  font-size: 14px;
}
